.App {
  text-align: center;
  opacity: 1;
}

.title {
padding : 12px;
font-size : 25px;
font-weight: bolder;
font-style:normal;
font-family :Arial, Helvetica, sans-serif;
background-color: #ecf0f3;

box-shadow: -5px -5px 12px #ffffff,
5px 5px 12px rgba(0, 0, 0, 0.20);


}
.nav-styles{
  padding : 12px;
  width : 100%;
  background-color: #ecf0f3;

  display: flex;
  justify-content: flex-start;
  gap :0.5rem;
}
.nav-buttons{
  border: 1px solid white;
  padding : 12px;
  border-radius : 5px;
  background-color: inherit;
  box-shadow: -5px -5px 12px #ffffff,
  5px 5px 12px rgba(0, 0, 0, 0.20);
  background-color: #ecf0f3;
  box-shadow: inset -5px -5px 12px #ffffff,
  inset 5px 5px 12px rgba(0, 0, 0, 0.4);


}
.nav-buttons:hover{
  border: none;
  box-shadow:  -5px -5px 12px #ffffff,
   5px 5px 12px rgba(0, 0, 0, 0.4);
}



.user-content{
margin : 18px;
display: flex;
flex-wrap: wrap;
justify-content: space-around;
gap: 1rem;

}
.user-card{
  padding:10px;
  border-radius : 5px;
  width : 250px;
  height : 250px;
  background-color: #ecf0f3;
  border:white;
  box-shadow: inset -5px -5px 12px #ffffff,
               inset 5px 5px 12px rgba(0, 0, 0, 0.4);

}          


.user-card:hover{
  box-shadow:  -5px -5px 12px #ffffff,
   5px 5px 12px rgba(0, 0, 0, 0.4);
  background-color: #ecf0f3;
}
.btn{
  padding: 10px;
  margin : 5px;
  border : none;
  border-radius: 5px;
  cursor: pointer;
  font-size : 12px;
}

.view-btn{
  box-shadow: inset -5px -5px 12px #ffffff,
  inset 5px 5px 12px rgba(0, 0, 0, 0.4);
}
.view-btn:hover{
  box-shadow:  -5px -5px 12px #ffffff,
   5px 5px 12px rgba(0, 0, 0, 0.4);
}

.edit-btn{
  box-shadow: inset -5px -5px 12px #ffffff,
  inset 5px 5px 12px rgba(0, 0, 0, 0.4);
}
.edit-btn:hover{
  box-shadow:  -5px -5px 12px #ffffff,
  5px 5px 12px rgba(0, 0, 0, 0.4);
}
.del-btn{
  box-shadow:  inset -5px -5px 12px #ffffff,
  inset 5px 5px 12px rgba(0, 0, 0, 0.4);
}

.del-btn:hover{
 
  box-shadow:   -5px -5px 12px #ffffff,
  5px 5px 12px rgba(0, 0, 0, 0.4);
 }
 .childred{
  height : 90vh;
  margin : 1vh;
  display : flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #ecf0f3;
  height: 100%;
 }

 .edit{
  display:flex;
  justify-content: center;
  align-items: center;
 
 }